
Assets/Animaciones.meta
Assets/Animaciones/correr.anim
Assets/Animaciones/die.anim
Assets/Animaciones/correr.anim.meta
Assets/Animaciones/die.anim.meta
Assets/Animaciones/Nueva carpeta.meta
Assets/Animaciones/salto.anim
Assets/Animaciones/salto.anim.meta
Assets/Animaciones/Spritedino.controller
Assets/Animaciones/Tero.anim
Assets/Animaciones/Tero.anim.meta
*.meta
Assets/Plantilla para gdd.rar
Assets/GitHubDesktopSetup-x64.exe
Assets/Parcial n1.pdf
Assets/TextMesh Pro/Fonts/LiberationSans SDF.asset
Assets/TextMesh Pro/Resources/LineBreaking Following Characters.txt
Assets/TextMesh Pro/Resources/LineBreaking Leading Characters.txt
